@font-face{
    font-family: "fontLogo";
    src: url('/public/_fonts/bubblegum-sans-regular.otf');
}

:root{
    --white-color: #ffffff;
    --darkGray-color: #606060;
    --mediumGray-color: #888888;
    --lightGray-color: #dddddd;
    --veryLightGray: #cecece;
    --black-color: #000000;
}

body {
    background-color: var(--lightGray-color);
    color: rgba(0, 0, 0, 1);
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: var(--darkGray-color);
}

a:hover {
    text-decoration: underline;
}

#interface {
    width: 90%;
    background-color: var(--white-color);
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

header.head {   
    border-bottom: 1px var(--darkGray-color) solid;
    height: 150px;
    background: url("/public/_images/glass-logo-peq.jpg") no-repeat 0px 80px;
    margin-left: 8px;
}

header.head h1 {
    font-family: 'fontLogo', Arial;
    font-size: 30pt;
    color: var(--darkGray-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header.head h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: var(--mediumGray-color);
    padding: 0px;
    margin-top: 0px;
}

header.head img#icon{
    position: absolute;
    left: 82%;
    top: 11%;
}

header.head nav.menu {
    display: block;
}

header.head nav.menu h1 {
    display: none;
}

header.head nav.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; /*pode ser posicionada em qualquer lugar do site, a relative é apenas dentro do conteiner*/
    top: 0;
    left: 47%;    
}

nav.menu ul li {
    display: inline-block;
    background-color: var(--lightGray-color);
    padding: 10px;
    margin: 2px;    
    border-radius: 8px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

nav.menu ul li:hover {
    background-color: var(--darkGray-color);
}

nav.menu li a {
    text-decoration: none;
    color: black;
}

nav.menu li a:hover {
    color: white;
}

article.main-news h2 {
    font-size: 13pt;
    color: var(--darkGray-color);
    background-color: var(--lightGray-color);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header.article-header h1 {
    font-family: 'fontLogo', Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: var(--darkGray-color);
    margin-bottom: 0px;
    margin-top: 0px;
}

header.article-header h3 {
    font-size: 12pt;
    color: var(--darkGray-color);
}

header.article-header h3.update {
    text-align: right;
}

footer {
    clear: both;
    border-top: 1px solid var(--darkGray-color);
}

footer p {
    text-align: center;
}
