header.article-header h1 {
    text-align: center;
    margin-bottom: 50px;
}

section#content {
    width: 1000px;
    margin: auto;
}

section#content iframe#frame-spec {
    width: 400px;
    height: 280px;
    overflow-x: hidden;
}

iframe#frame-spec::-webkit-scrollbar{
    display: none;
}

section#content area {
    outline: 0;
} 
