<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/_styles/general.css">
        <link rel="stylesheet" href="/public/_styles/photo.css">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>

    <body>

        <div id="page-body">

            <header class="head">
                <h1>Google Glass</h1>
                <h2>A revolução do Google está chegando</h2>

                <img id="icon" src="/public/_images/glass-oculos-preto-peq.png" alt="imagem do óculos">

                <nav class="menu">
                    <h1>Menu Principal</h1>
                    <ul>
                        <li onmouseover="changePhoto('/public/_images/home.png')" onmouseout="changePhoto('/public/_images/fotos.png')">
                        <a href="index.html">Home</a></li>

                        <li onmouseover="changePhoto('/public/_images/especificacoes.png')" onmouseout="changePhoto('/public/_images/fotos.png')">
                        <a href="specs.html">Especificações</a></li>

                        <li onmouseover="changePhoto('/public/_images/fotos.png')" onmouseout="changePhoto('/public/_images/fotos.png')">
                        <a href="photo.html">Fotos</a></li>

                        <li onmouseover="changePhoto('/public/_images/multimidia.png')" onmouseout="changePhoto('/public/_images/fotos.png')">
                        <a href="multimedia.html">Multimídia</a></li>
                        
                        <li onmouseover="changePhoto('/public/_images/contato.png')" onmouseout="changePhoto('/public/_images/fotos.png')">
                        <a href="contact-us.html">Fale conosco</a></li>
                    </ul>
                </nav>
            </header>

            <section id="body-full">
                <article class="main-news">
                    <header class="article-header">
                        <h3>Glass > Fotos</h3>
                        <h1>Galeria de Imagens do Google Glass</h1>
                    </header> 

                    <p>
                        Veja na nossa galeria de fotos várias belas imagens que mostram algumas das principais características do Google Glass, como recursos e propriedades que estão impressionando o mundo inteiro. Basta passar o mouse sobre uma das fotos para ver uma versão ampliada e com uma breve descrição.
                    </p>

                    <ul id="photos-album">
                        <li class="photo01"><span>Agenda e lembretes</span></li>
                        <li class="photo02"><span>Sergey Brin usando o Glass</span></li>
                        <li class="photo03"><span>Leve e compacto</span></li>
                        <li class="photo04"><span>Sensação de uma tela de 50"</span></li>
                        <li class="photo05"><span>Vários tipos de lente</span></li>
                        <li class="photo06"><span>Informações importantes</span></li>
                    </ul>
                </article>
            </section>
            <footer>
                <p>
                    &copy; Copyright 2020 - by Ruth Maria <br>
                    <a href="https://www.linkedin.com/in/ruth-maria-9b256071/" target="_blank">Linkedin</a> | 
                    <a href="https://github.com/RuthMaria" target="_blank">GitHub</a>                     
                </p>
            </footer>
            <script src="/public/_scripts/funcoes.js"></script>
        </div>
    </body>
</html>
