
#page-body section#content {
    width: 1000px;
    margin: auto;
}

#page-body section#content iframe#frame-spec {
    width: 400px;
    height: 280px;
    overflow-x: hidden;
}

#page-body iframe#frame-spec::-webkit-scrollbar{
    display: none;
}

#page-body section#content area {
    outline: 0;
} 