@font-face{
    font-family: "fontLogo";
    src: url('/public/_fonts/bubblegum-sans-regular.otf');
}

:root{
    --primary-color: #dddddd;
}

body {
    background-color: var(--primary-color);
    color: rgba(0, 0, 0, 1);
}

p {
    text-align: justify;
    text-indent: 50px;
}

#page-index {
    width: 90%;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#page-index header.head {   
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("/public/_images/glass-logo-peq.jpg") no-repeat 0px 80px;
    margin-left: 8px;
}

#page-index header.head h1 {
    font-family: 'fontLogo', Arial;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#page-index header.head h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

#page-index header img#icon{
    position: absolute;
    left: 82%;
    top: 11%;
}

#page-index nav.menu {
    display: block;
}

#page-index nav.menu h1 {
    display: none;
}

#page-index nav.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; /*pode ser posicionada em qualquer lugar do site, a relative é apenas dentro do conteiner*/
    top: 0;
    left: 47%;    
}

#page-index nav.menu li {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 2px;    
    border-radius: 8px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

#page-index nav.menu li:hover {
    background-color: #606060;
}

#page-index nav.menu a {
    text-decoration: none;
    color: black;
}

#page-index nav.menu a:hover {
    color: white;
}

#page-index section.content{
    display: block;
    width: 57%;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

#page-index figure.photo-subtitle {
    border: 8px solid white; /*largura, tipo, cor*/
    box-shadow: 1px 1px 4px black; /* deslocamento horizontal, vertical, espalhamento e cor*/
    position: relative;
    width: 40%;
}

#page-index figure.photo-subtitle img {
    width: 100%;
    height: 100%;
}

#page-index figure.photo-subtitle figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*Cria um box dentro da borda*/
    transition: opacity 1s;
}

#page-index figure.photo-subtitle:hover figcaption {
    opacity: 1;
}

#page-index aside.second-content{
    display: block;
    width: 40%;
    float: right;
}

#page-index footer {
    clear: both;
    border-top: 1px solid #606060;
}

#page-index footer p {
    text-align: center;
}