@font-face{
    font-family: "fontLogo";
    src: url('/public/_fonts/bubblegum-sans-regular.otf');
}

:root{
    --primary-color: #dddddd;
}

body {
    background-color: var(--primary-color);
    color: rgba(0, 0, 0, 1);
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: #606060;
}

a:hover {
    text-decoration: underline;
}

#page-body {
    width: 90%;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#page-body header.head {   
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("/public/_images/glass-logo-peq.jpg") no-repeat 0px 80px;
    margin-left: 8px;
}

#page-body header.head h1 {
    font-family: 'fontLogo', Arial;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#page-body header.head h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

#page-body header img#icon{
    position: absolute;
    left: 82%;
    top: 11%;
}

#page-body nav.menu {
    display: block;
}

#page-body nav.menu h1 {
    display: none;
}

#page-body nav.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; /*pode ser posicionada em qualquer lugar do site, a relative é apenas dentro do conteiner*/
    top: 0;
    left: 47%;    
}

#page-body nav.menu li {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 2px;    
    border-radius: 8px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

#page-body nav.menu li:hover {
    background-color: #606060;
}

#page-body nav.menu a {
    text-decoration: none;
    color: black;
}

#page-body nav.menu a:hover {
    color: white;
}

#page-body section.content{
    display: block;
    width: 55%;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

#page-body article.main-news h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
#page-body header.article-header h1 {
    font-family: 'fontLogo', Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

#page-body header.article-header h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
}

#page-body header.article-header h3 {
    font-size: 12pt;
    color: #606060;
}

#page-body header.article-header h3.update {
    text-align: right;
}

#page-body figure.photo-subtitle {
    border: 8px solid white; /*largura, tipo, cor*/
    box-shadow: 1px 1px 4px black; /* deslocamento horizontal, vertical, espalhamento e cor*/
    position: relative;
    width: 40%;
}

#page-body figure.photo-subtitle img {
    width: 100%;
    height: 100%;
}

#page-body figure.photo-subtitle figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*Cria um box dentro da borda*/
    transition: opacity 1s;
}

#page-body figure.photo-subtitle:hover figcaption {
    opacity: 1;
}

#page-body table {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

#page-body table caption {
    color: #888888;
    font-size: 13 pt;
    font-weight: bold;
}

#page-body table span {
     display: block;
     font-size: 9pt;
     color: #000000;
     float: right;
     margin-top: 10px;
}

#page-body table td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#page-body table td.col-left {
    background-color: #606060;
    color: #ffffff;
    vertical-align: top;
    font-weight: bold;
}

#page-body table td.col-right {
    background-color: #cecece ;
}


#page-body aside.second-content {
    display: block;
    width: 40%;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#page-body aside.second-content h1 {
    font-family: 'fontLogo', Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

#page-body aside.second-content h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 10px;
}

#page-body footer {
    clear: both;
    border-top: 1px solid #606060;
}

#page-body footer p {
    text-align: center;
}
